@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

.libro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    width: 65em;
    margin-left: 2em;
}

.imagen {
    margin-right: 1em;
}

.libro img {
    width: 17em;
}

h1 {
    margin-left: 1em;
    font-size: 22pt;
}

.search {
    margin-left: 2em;
}

.ficha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.divficha {
    margin-left: 2em;
    width: 50%;
}

.error {
    font-size: 7em;
    font-weight: 900;
    text-align: center;
}

.cajaerror {
    margin-top: 10em;
    text-align: center;
}

header {
    background-color: black;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 2em 10em 2em 10em;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.156);
}

nav {
    display: flex;
    justify-content: center;
}

.libro a:visited {
    color: black;
}