<div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col col-lg-3"><img src="img/img3.jpg" alt=""></div>
        <div class="col col-lg-5">
            <div class="ms-5">
                <h2>I robot</h2>
                <h2>Autor: Isaac Asimov</h2>
                <h3>Editorial: Edhasa</h3>
                <p class="w-75">Los robots de Isaac Asimov son máquinas capaces de llevar a cabo muy diversas tareas, y que a menudo se plantean a sí mismos problemas de conducta humana. Pero estascuestiones se resuelven en Yo, robot en el ámbito de las tres leyes fundamentales
                    de la robótica, concebidas por Asimov, y que no dejan de proponer extraordinarias paradojas que a veces se explicanpor errores de funcionamiento y otras por la creciente complejidad de los programas. Las paradojas que se plantean en
                    estos relatos futuristas no son sólo ingeniosos ejercicios intelectuales sino sobretodo una indagación sobre la situación del hombre actual en relación con los avances tecnológicos y con la experiencia del tiempo.</p>
            </div>
        </div>
    </div>
</div>