<div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col col-lg-3"><img src="img/img1.jpg" alt=""></div>
        <div class="col col-lg-5">
            <div class="ms-5">
                <h2>El Juego de Ender</h2>
                <h2>Autor: Orson Scott Card</h2>
                <h3>Editorial: Ediciones B / Zeta</h3>
                <p class="w-75">La Tierra está amenazada por una especie extraterrestre de insectos que pretende destruir la humanidad. Para vencerlos se precisa la intervención de un genio militar, por lo cual sepermite el nacimiento de Ender, tercer hijo de una pareja
                    en un mundo que limita a dos el número de descendientes. Ender se entrenará en una estación espacial, superará a sus rivales y se convertiráen la persona capaz de dirigir las flotas terrestres contra los insectos de otros mundos.</p>
            </div>
        </div>
    </div>


</div>